@import "./_theme_colors";
@import "./_theme_custom";
//
@import "./header";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body,
html {
  scroll-behavior: smooth;
}
.title {
  color: #55a8b9;
  font-weight: bold;
}

footer {
  direction: rtl;
  background-color: #55a8b9;
}
.price {
  border-color: #55a8b9;
  color: #55a8b9;
  font-weight: bold;
  min-width: 80px;
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  span {
    font-size: 12px !important;
  }
}
.show-more {
  margin: 0 auto;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.show-more a {
  text-align: center;
  height: 48px;
  width: 140px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #55a8b9;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.show-more a:hover {
  background-color: #faefe3;
  color: #55a8b9;
}
.nc-SectionPromo2 {
  margin-top: 50px !important;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled,
.react-calendar__tile:disabled {
  // background-color: #55a8b9 !important;
  border-radius: 5px;
  margin: 1px 0;
  font-weight: bold;
}
.react-calendar {
  font-family: __Cairo_585ac7 !important;
}
.react-calendar__tile--active {
  background-color: #55a8b9 !important;
  border-radius: 5px;
}
.product-img {
  width: 450px !important;
  height: 600px;
  @media (max-width: 968px) {
    height: 360px;
  }
}
.gift-btn button {
  background-color: #55a8b9 !important;
  color: #faefe3;
  border-radius: 13px;
}
.dir-rtl {
  direction: rtl;
}
.order-info {
  min-height: 50px;
  min-width: 350px;
  background-color: #f8fafc;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  @media (max-width: 968px) {
    min-width: 200px;
    font-size: 11px;
  }
}
.order-info p {
  font-size: 13px;
}
.nav-link:hover {
  background-color: #55a8b9 !important;
  color: #faefe3;
}
.ttnc-logo {
  @media (max-width: 1280px) {
    width: 150px;
  }
}
.nav-link {
  @media (max-width: 1280px) {
    font-size: 12px !important;
    white-space: nowrap !important;
  }
}
.megamnue {
  padding: 15px;
  border-radius: 16px;
}
.info {
  text-align: right;
}
.modalSlider {
  min-height: 550px;
}
.card-add {
  width: 100%;
  background-color: #55a8b9 !important;
  color: #faefe3;
}
.nc-Button {
  background-color: #55a8b9;
  color: #fff;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  &.coupon-btn {
    border-radius: 5px 0px 0px 5px !important;
  }
}
.coupon-field {
  border-radius: 0px 30px 30px 0px !important;
}
.nc-Button:hover {
  background-color: #faefe3;
  color: #55a8b9;
  font-weight: bold;
}

.user-logo {
  background-color: #55a8b9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    button {
      color: #55a8b9 !important;
      font-weight: bold;
    }
  }
  button {
    color: #faefe3;
  }
}

.current-account-link {
  margin: 0 30px;
}

.status-deliverd {
  background-color: #55a8b9;
  color: #faefe3;
  padding: 10px 30px;
  border-radius: 13px;
  font-weight: bold;
}
.status-dilivery {
  color: #55a8b9;
  background-color: #faefe3;
  padding: 10px 30px;
  border-radius: 13px;
  font-weight: bold;
}
.footer-container {
  width: 100%;
  min-height: 400px;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container .section-one,
.footer-container .section-two,
.footer-container .section-three {
  width: 25%;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 968px) {
    width: 95% !important;
    margin: 0 auto;
  }
}
.footer-container .section-one {
  width: 40%;
  align-items: flex-start;
  padding: 0 10px;
}
.footer-container {
  h2 {
    margin: 50px 0 30px 0;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }
}
.footer-container .section-two {
  color: #fff;
  ul,
  li {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  a {
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}
.footer-container .section-three {
  align-items: flex-start;
  padding: 0 10px;
  p,
  h3 {
    color: #fff;
  }
  h3 {
    margin-top: 30px;
  }
  .legal {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .legal-item {
    display: flex;
    .info {
      margin: 0 3px;
    }
    p {
      font-size: 10px;
    }
  }
}
.footer-container img[alt="Logo"] {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.footer-container .section-one p,
.footer-container .section-one h3 {
  color: #fff;
  font-weight: 500;
  width: 100%;
  text-align: right;
}
.footer-container .section-one h3 {
  margin-bottom: 30px;
  font-weight: bold;
}
.footer-container .section-one .linkContainer {
  width: 50%;
  margin-top: 38px;
  display: flex;
  width: 100%;
}
.contact {
  display: flex;
  width: 100%;
  margin-top: 10px;
  .contact-icon {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
}

.ctg-slider {
  @media (max-width: 968px) {
    height: 260px;
    img {
      width: 130px;
      height: 130px;
      margin-top: 30px;
      object-fit: contain;
    }
    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      position: relative;
      bottom: 15px;
      font-size: 14px;
      font-weight: bold;
    }
    button {
      top: 10px;
      margin: 0 auto;
    }
    a {
      margin-left: 12px;
      font-size: 12px;
    }
  }
}
.nc-SectionHero2Item {
  @media (max-width: 968px) {
    height: 350px !important;
  }
}
.nc-Next,
.nc-Prev {
  @media (max-width: 968px) {
    display: none;
  }
}
.prouct-slide {
  @media (max-width: 968px) {
    margin-right: -360px !important;
    img {
      border-radius: 0;
    }
    .glide__slide {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .gourp-buttons {
      display: none;
    }
    .product-footer {
      flex-direction: column;
      div:nth-child(1) {
        .price-label {
          border: none;
          text-align: right;
          width: 100%;
          padding: 0 10px;
          min-height: 35px;
          justify-content: flex-end;
        }
      }
      div:nth-child(2) {
        display: none;
      }
    }
  }
}
.buy-responsive {
  display: none;
  @media (max-width: 968px) {
    display: flex;
    margin-top: 10px;
    width: 100%;
  }
}
.nc-SectionPromo2 {
  div:nth-child(1) {
    @media (max-width: 968px) {
      height: 175px !important;
    }
  }
}

.nc-Section-Heading {
  @media (max-width: 968px) {
    flex-direction: row;
    .mt-4 {
      margin-top: 0;
    }
  }
}
.address-box {
  margin: 0 20px;
  input {
    margin-left: 10px;
  }
}

.partners-wrapper {
  position: relative;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    svg {
      width: 120px;
      height: 200px;
      opacity: 0.3;
    }
  }
}
.why-trendy {
  margin-top: 0px !important;
  margin-bottom: 50px !important;
}
.web-rates {
  margin-top: 60px !important;
  margin-bottom: 0px !important;
}
@media (max-width: 968px) {
  .title {
    font-size: 26px;
  }
  .partners-container {
    flex-direction: column;
    width: 100% !important;
    img {
      margin: 30px 0;
      &:nth-child(1) {
        margin-top: 80px;
      }
    }
  }
}
#mysr-form-form-el#mysr-form-form-el#mysr-form-form-el.mysr-form-moyasarForm.mysr-form-fixedWidth {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 515px !important;
}

tamara-widget {
  position: relative;
  right: 5px;
}
.no-product {
  text-align: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  width: 100%;
  padding-top: 50px;
}
.nc-ReviewItem {
  border: 3px solid #55a8b9;
  padding: 15px;
  min-height: 120px;
  border-radius: 22px;
}
.no-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  h3 {
    font-size: 23px;
    font-weight: bold;
  }
}
.hint-err {
  font-size: 23px;
  font-weight: bold;
  width: 100%;
  span {
    font-weight: 500;
  }
}

.filter-btn {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    min-width: 180px;
  }
}
.web-rates {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #55a8b9;
  border-radius: 20px;
  .title {
    color: #fff;
  }
  .nc-ReviewItem {
    background-color: #fff;
  }
}
.cart-dropdown,
.profile-menu {
  right: auto;
  left: 0% !important;
}

.fav.grid {
  .fav-icon {
    // path {
    //   fill: #ef4444;
    // }
  }
}
.nc-Navigation li a {
  @media (min-width: 1280px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  // margin-right: 6%;
}
.nc-Footer {
  padding-top: 1rem;
}
.login-btn {
  width: 300px;
  margin-bottom: 10px;
}
.login-btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.web-rates {
  @media (max-width: 968px) {
    display: none;
  }
}
.star {
  color: #fbbf25;
}
.review-bg {
  // background-color: #55a8b9;
  // border-radius: 20px;
  // h2 {
  //   color: #55a8b9 !important;
  // }
  .nc-ReviewItem {
    // background-color: #fff;
  }
}
.rate-input {
  width: 350px;
  @media (max-width: 600px) {
    width: 290px;
  }
}
.star-pick {
  transform: rotateY(180deg);
  margin: 10px 0;
}
.product-controls {
  @media (max-width: 968px) {
    flex-direction: column;
    align-items: center;
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.glide__slides.prouct-slide {
  @media (max-width: 968px) {
    // direction: ltr !important;
    margin-right: auto !important;
  }
}

.snapchat-creative-kit-share,
.snapchat-creative-kit-share button {
  height: 64px;
  width: 64px;
}
.snapchat-creative-kit-share .f1psvwpi {
  display: none;
}
.snapchat-creative-kit-share .f16qnola {
  height: 64px;
  width: 64px;
}
.react-time-picker__wrapper {
  width: fill !important;
  height: 54px;
  border-radius: 20px;
  border: 2px solid rgba(var(--c-neutral-200), var(--tw-border-opacity));
}
@media (max-width: 968px) {
  .react-time-picker__wrapper {
    width: 250px !important;
  }
}
#time-picker,
.react-time-picker {
  width: 100% !important;
}

.react-time-picker__wrapper input:focus,
.react-time-picker__wrapper select:focus {
  outline: 1px solid #ffffff00 !important;
  outline: 1px solid #ffffff00 !important;
  box-shadow: none !important;
}
.react-time-picker__wrapper input {
  width: 100px !important;
  border-radius: 20px;
  text-indent: 10px;
  margin: 0 5px;
}
@media (max-width: 968px) {
  .react-time-picker__wrapper input {
    width: 70px !important;
  }
}
.categories-page {
  width: 95vw;
  max-width: 1217px;
  margin: 50px auto;
  h1 {
    font-size: 2.25rem;
    color: #000;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .ctg-item {
    width: 30%;
    margin: 10px 1.6%;
    background-color: #f4f1df;
    padding: 40px;
    border-radius: 22px;
    @media (max-width: 968px) {
      width: 95vw;
      img {
        max-width: 200px;
        margin: 0 auto;
      }
    }
    img {
      min-height: 210px;
    }
    h3 {
      font-size: 1.5rem;
      color: rgb(15 23 42 / var(--tw-text-opacity));
      margin-top: 30px !important;
    }
  }
}
.time-select {
  display: flex;
  flex: 1;
}
.time-select {
  .time-title {
    color: #55a8b9;
    padding: 10px 0;
  }
}
.time-select > div {
  flex: 1;
  text-align: center;
  max-height: 400px;
  overflow-y: auto;
  direction: ltr;
  div:not(.time-title) {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 3px 0;
    &:hover {
      background-color: silver !important;
    }
  }
}
.deleveryBtn {
  width: 250px;
  height: 48px;
  text-align: right;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;
  span {
    font-weight: 300;
    margin: auto 0 10px;
  }
  &:hover {
    border: 3px solid #55a8b9;
  }
}

// .description-product {
//   border: 2px solid red;
//   white-space: normal;
// }
.articles-link {
  @media (max-width: 968px) {
    display: none;
  }
}
.drop-down-checkout {
  margin: 0 !important;
}
.form-payment-label {
  padding: 10px;
}
.alert {
  @media (max-width: "968px") {
    font-size: 11px;
  }
}

.product-section {
  @media (max-width: 968px) {
    margin-top: 4rem;
  }
}
.home-slider {
  @media (max-width: 968px) {
    max-height: 400px !important;
  }
  .nc-ProductCard__title {
    @media (max-width: 968px) {
      font-size: 12px;
    }
  }
}
.article-slide {
  @media (max-width: 968px) {
    min-width: 95%;
  }
}
.hide-element {
  display: none;
}
.product-description * {
  font-family: __CAIRO_585AC7 !important;
}
.product-description a {
  color: blue;
  text-decoration: underline;
}
.nc-SectionSliderProductCard {
  margin-top: 15px !important;
}
.text-us-msg {
  height: 34px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  left: -80px;
  top: 13px;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}
#gb-widget-8323:hover .text-us-msg {
  opacity: 0;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  p {
    border: 1px solid #f1f5f9;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    text-align: center;
  }
  .menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 150px;
    border-radius: 9px;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    top: 38px;
    .listItem {
      width: 100%;
      text-align: center;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #55a8b9;
        color: #fff;
      }
    }
  }
}
.footer-icon {
  width: 28px;
  height: 28px;
  margin-inline-end: 8px;
  background-color: #ffffff24;
  padding: 2px 3px;
  border-radius: 5px;
  object-fit: contain;
}
.product-card {
  border-radius: 20px;
}

.nc-HeaderLogged {
  // z-index: 99999;
}
.products-sort {
  @media (max-width: 968px) {
    width: 100% !important;
    justify-content: space-between;
  }
}

.nav-ctg::-webkit-scrollbar {
  background-color: silver !important;
  height: 8px;
}
.nav-ctg::-webkit-scrollbar-thumb {
  background-color: #55a8b9 !important;
  border-radius: 11px;
}
.sender-name-btn button {
  background-color: #f1f5f9 !important;
  min-width: 130px;
  border-radius: 11px !important;
  margin-inline-start: 15px;
  color: #55a8b9;
  border: 1px solid #55a8b9;
  &.active {
    background-color: #55a8b9 !important;
    color: #f1f5f9 !important;
  }
  @media (max-width: 968px) {
    margin-bottom: 10px;
  }
}
.addsColor {
  @media (max-width: 968px) {
    width: 15px !important;
    height: 15px !important;
    margin-top: 10px !important;
  }
}
.share-container img,
.share-container svg {
  @media (max-width: 968px) {
    width: 30px !important;
    height: 30px !important;
  }
}
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-products {
  width: 60px;
  height: 60px;
  border: 5px solid #55a8b9;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dropdown-adds {
  &:nth-child(1) {
    margin-top: 40px;
  }
}

.ctgPage-filter {
  @media (max-width: 968px) {
    order: 1;
    padding: 0 20px;
    .ctg-sider {
      display: none;
    }
  }
}
.ctgPage-products {
  @media (max-width: 968px) {
    order: 2;
  }
}

.hero-section {
  @media (max-width: 968px) {
    height: 205px !important;
  }
}

.category-products-section {
  @media (max-width: 968px) {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;

  }
  button {
    @media (max-width: 968px) {
      display: none !important;
    }
   
  }
  h2 {
    @media (max-width: 968px) {
      font-size: 11px;
      line-height: 21px;
      font-weight: bold;
      height: 50px !important;
    }
  }
  .price {
    @media (max-width: 968px) {
      margin: 0;
      margin-inline-end: 10px;
      min-width: 69px;
    }
  }
  .rate  {
    @media (max-width: 968px) {
      font-size: 7px !important;
    }
  }
}
